<div class="dropdownChart">
  <span>Diagrammi</span>
  <div class="dropdownChartContent">
    <button routerLink="/bar">Diagramma a barre</button>
    <button routerLink="/radar">Diagramma a radar</button>
    <button routerLink="/line">Diagramma a torta</button>
  </div>
</div>

<div class="dropdownOption">
  <span>Opzioni</span>
  <div class="dropdownOptionContent">
    <button (click)="getData()">Mostra tutti i dati</button>
    <button (click)="getDato(0)">Primo</button>
    <button (click)="getDato(1)">Secondo</button>
    <button (click)="getDato(2)">Terzo</button>
  </div>
</div>

<div>
  <canvas baseChart
          [datasets]="lineChartData"
          [labels]="lineChartLabels"
          [options]="lineChartOptions"
          [colors]="lineChartColors"
          [legend]="lineChartLegend"
          [chartType]="lineChartType"
          [plugins]="lineChartPlugins"
          [height]="700"
          [width]="1400">
  </canvas>
</div>

<button (click)="goBack()">Indietro</button>
